/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.ttf
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.ttf
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.ttf
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

